.banner-slideshow {
    &__link {
        overflow: hidden;
        display: block;
        height: 732px;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
}