@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css");
* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  list-style-type: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto Condensed";
}

.slider {
  height: 732px;
  background-color: rgb(0, 0, 0);
}
.slider__item {
  -webkit-filter: blur(25px);
          filter: blur(25px);
  position: absolute;
  width: 100%;
  opacity: 0;
  z-index: 5;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: opacity 0.3s, -webkit-filter 0.5s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-filter 0.5s, -webkit-transform 0.3s;
  transition: opacity 0.3s, filter 0.5s, transform 0.3s;
  transition: opacity 0.3s, filter 0.5s, transform 0.3s, -webkit-filter 0.5s, -webkit-transform 0.3s;
}
.slider__item.active {
  -webkit-filter: blur(0);
          filter: blur(0);
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.navigation {
  background-color: rgb(0, 0, 0);
}
.navigation-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 55px;
}
.navigation__brand-logo {
  width: 145px;
}
.navigation__brand-logo img {
  width: 100%;
  height: 100%;
}
.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 45px;
}
.navigation__list-link {
  display: block;
  text-transform: uppercase;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  color: white;
}
.navigation__list-link:hover {
  color: rgb(205, 1, 15);
}
.navigation__item {
  position: relative;
  padding: 18px 0;
}
.navigation__item:hover .navigation__sub-menu {
  visibility: visible;
  left: 0;
  opacity: 1;
}
.navigation__sub-menu {
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  left: 55%;
  top: 100%;
  width: 17em;
  padding: 12px 25px;
  opacity: 0;
  z-index: 7;
  -webkit-transition: opacity 0.5s, left 0.5s;
  transition: opacity 0.5s, left 0.5s;
  background-color: rgb(243, 243, 243);
}
.navigation__sub-menu--mega {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1em 5em;
  width: 775px;
}
.navigation__sub-menu--mega .navigation__sub-menu-item:last-child {
  width: 100%;
}
.navigation__sub-menu--mega .navigation__sub-menu-item:last-child .navigation__mega-menu-link {
  display: inline-block;
  padding-top: 1em;
}
.navigation__sub-menu--mega .navigation__sub-menu-item:last-child hr {
  border: 1px solid rgb(233, 233, 233);
}
.navigation__sub-menu-item {
  padding: 11px 0;
}
.navigation__sub-menu-link {
  position: relative;
  font-size: 0.9em;
  font-weight: 555;
  color: rgb(0, 0, 0);
}
.navigation__sub-menu-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1.5px;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
  background-color: rgb(205, 1, 15);
}
.navigation__sub-menu-link:hover {
  color: rgb(205, 1, 15);
}
.navigation__sub-menu-link:hover::after {
  width: 100%;
}
.navigation__mega-menu-item {
  padding: 7px 0;
}
.navigation__mega-menu-link {
  position: relative;
  font-size: 0.9em;
  font-weight: 555;
  color: rgb(0, 0, 0);
}
.navigation__mega-menu-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1.5px;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
  background-color: rgb(205, 1, 15);
}
.navigation__mega-menu-link:hover {
  color: rgb(205, 1, 15);
}
.navigation__mega-menu-link:hover::after {
  width: 100%;
}
.navigation__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 12px;
}
.navigation__icon {
  position: relative;
}
.navigation__icon:hover .navigation__user-menu {
  visibility: visible;
  left: -375%;
  opacity: 1;
}
.navigation__icon:hover path[data-name=user],
.navigation__icon:hover path[data-name=search] {
  fill: rgb(205, 1, 15);
}
.navigation__icon:first-child {
  padding-right: 12px;
  border-right: 0.7px solid rgb(61, 61, 61);
}
.navigation__icon:last-child {
  padding: 13.5px 0;
}
.navigation__icon:nth-child(2), .navigation__icon:nth-child(3) {
  cursor: pointer;
}
.navigation__icon path[data-name=user],
.navigation__icon path[data-name=search] {
  -webkit-transition: fill 0.5s;
  transition: fill 0.5s;
}
.navigation__user-menu {
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  left: 55%;
  top: 100%;
  width: 17em;
  padding: 12px 25px;
  opacity: 0;
  z-index: 7;
  -webkit-transition: opacity 0.5s, left 0.5s;
  transition: opacity 0.5s, left 0.5s;
  background-color: rgb(243, 243, 243);
  left: 0;
}
.navigation__user-menu-item {
  position: relative;
  padding: 7px 0;
}
.navigation__user-menu-link {
  position: relative;
  font-size: 0.9em;
  font-weight: 555;
  color: rgb(0, 0, 0);
}
.navigation__user-menu-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1.5px;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
  background-color: rgb(205, 1, 15);
}
.navigation__user-menu-link:hover {
  color: rgb(205, 1, 15);
}
.navigation__user-menu-link:hover::after {
  width: 100%;
}

.footer {
  background-color: rgb(0, 0, 0);
}
.footer__story {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  height: 55vh;
}
.footer__story-image img {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}
.footer__story-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 41.7%;
  padding: 3em;
  z-index: 3;
  color: rgb(255, 255, 255);
}
.footer__story-title {
  text-transform: uppercase;
  letter-spacing: 1.1px;
  font-size: 2.3em;
  margin: 7px 0;
}
.footer__story-description {
  font-size: 1.1em;
  line-height: 1.2em;
}
.footer__sitemap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 17px 0;
}
.footer__navigation, .footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}
.footer__navigation {
  padding: 12px 0;
}
.footer__navigation-link {
  position: relative;
  font-size: 0.9em;
  font-weight: 555;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  font-weight: 395;
  font-size: 1.1em;
  color: rgb(179, 179, 179);
}
.footer__navigation-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1.5px;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
  background-color: rgb(205, 1, 15);
}
.footer__navigation-link:hover {
  color: rgb(205, 1, 15);
}
.footer__navigation-link:hover::after {
  width: 100%;
}
.footer__social-item {
  margin: 0 7px;
}
.footer__social-link:hover .fa-brands {
  color: rgb(205, 1, 15);
}
.footer__social-link .fa-brands {
  font-size: 1.3em;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  color: rgb(179, 179, 179);
}
.footer__form {
  width: 355px;
}
.footer__form-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0 9px;
}
.footer__form-input {
  width: 93%;
  padding: 7px;
  font-size: 1.1em;
  border: 1px solid rgb(125, 125, 125);
  color: rgb(255, 255, 255);
  background-color: transparent;
}
.footer__form-input::-webkit-input-placeholder {
  color: rgb(179, 179, 179);
}
.footer__form-input::-moz-placeholder {
  color: rgb(179, 179, 179);
}
.footer__form-input:-ms-input-placeholder {
  color: rgb(179, 179, 179);
}
.footer__form-input::-ms-input-placeholder {
  color: rgb(179, 179, 179);
}
.footer__form-input::placeholder {
  color: rgb(179, 179, 179);
}
.footer__form-input:focus {
  border: 1px solid rgb(255, 255, 255);
}
.footer__form-button {
  cursor: pointer;
  position: relative;
  border: none;
  text-transform: uppercase;
  width: 33%;
  padding: 9px;
  font-size: 1em;
  color: rgb(255, 255, 255);
  background-color: rgb(205, 1, 15);
}
.footer__form-button::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
  background-color: rgba(0, 0, 0, 0.29);
}
.footer__form-button:hover::after {
  width: 100%;
}
.footer__form-button-title {
  position: relative;
  z-index: 3;
}
.footer__form-label {
  display: block;
  text-transform: uppercase;
  font-weight: 555;
  font-size: 0.8em;
  padding: 12px 0;
  color: rgb(179, 179, 179);
}
.footer__line {
  position: relative;
  height: 2.7px;
  background-color: rgb(77, 77, 77);
}
.footer__line::before, .footer__line::after {
  content: "";
  position: absolute;
  width: 5%;
  height: 3px;
  background-color: rgb(77, 77, 77);
}
.footer__line::before {
  top: -7px;
  left: 0;
  clip-path: polygon(58% 0, 100% 100%, 0 100%, 0 0);
}
.footer__line::after {
  bottom: -7px;
  right: 0;
}

.banner {
  text-align: center;
  line-height: 2.5em;
  background-color: rgb(205, 1, 15);
}
.banner__link {
  display: inline-block;
  font-size: 0.8em;
  color: rgb(255, 255, 255);
}

.banner-slideshow__link {
  display: block;
}
.banner-slideshow__link img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.product {
  padding: 5em 0;
}
.product__heading {
  text-align: center;
  font-size: 2.9em;
  margin: 25px 0;
}
.product__title {
  position: relative;
  font-size: 0.9em;
  font-weight: 555;
  color: rgb(0, 0, 0);
  text-transform: capitalize;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.product__title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1.5px;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
  background-color: rgb(205, 1, 15);
}
.product__title:hover {
  color: rgb(205, 1, 15);
}
.product__title:hover::after {
  width: 100%;
}
.product__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.product__item {
  width: 17%;
  padding: 12px;
  border-radius: 7px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.product__item:hover {
  background-color: rgba(0, 0, 0, 0.274);
}
.product__item:hover .product__image img {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}
.product__item:hover .product__title {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}
.product__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.product__image img {
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.container {
  width: 1321px;
  margin: 0 auto;
}
/*# sourceMappingURL=main.css.map */